
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family:"Roboto", sans-serif;
    transition: background 0.3s ease-in-out;
}
p{
    color: var(--font-color);
}
h2{
    color: var(--font-color);
}
h3{
    color: var(--font-color);
}
h5{
    color: var(--font-color);
}
h1{
    color: var(--font-color);
}
:root{
    --primary-color:#FFFFFF;
    --card-color:#FFFFFF;
    --border-color: #0000003D;
    --background-color: #FFFFFF ;
    --font-color: #000000;
    --btn-color: white;
    --bbtn-color: #28A4C2;
}
body{
    position: absolute;
    width: 100vw;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: hidden;
}
img{
    width: 50px;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 30px;
    position: fixed;
    top: -5px;
    margin-bottom: 20px;
    border-color: var(--border-color);
    border-radius: 50px;
    z-index: 9999;
    margin-top: 30px;
    border: 2px solid var(--border-color); 
    box-shadow: 0px 0px 15px 0px var(--border-color);
}
.navbar .elements img{
    display: none;
}


ul{
    list-style: none;
    display: flex;
    background-color: var(--primary-color);
}
a{
    
    color: var(--font-color);
    text-decoration: none;
    font-size: 1.1rem;
    background-color: var(--primary-color);
}
li{

    margin: 10px;
    background-color: var(--primary-color);
}
.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: var(--primary-color);
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    padding: 70px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0px 0px 15px 0px var(--border-color);
}
.home img{
    height: 300px;
    border-radius: 50px;
}
.about_me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--primary-color);
    font-size: 20px;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: var(--primary-color);
    gap:20px;
    padding: 50px;
    margin: 30px;
    box-shadow: 0px 0px 15px 0px var(--border-color);
}
.skill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary-color);
    gap: 20px;
}
.skill img{
    width: 60px;
}
.html{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    flex-wrap: wrap;
    gap: 17px;
}
.channel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* السماح بعرض مرن */
    max-width: 800px;
    border-radius: 20px;
    background-color: var(--primary-color);
    gap: 30px;
    margin-top: 25px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 0px 15px 0px var(--border-color);
}

.channel_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-items: center;
    width: 100%; 
    max-width: 700px;
    border-radius: 20px;
    gap: 20px;
    background-color: var(--primary-color);
}

.channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    max-width: 330px; 
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 20px;
}


@media screen and (max-width: 600px) {
    .channel_content {
        flex-direction: column;
        gap: 15px;
    }
    .elements{
        display: none;
    }
    .navbar{
        height: 50px;
    }
    .channels {
        max-width: 100%; 
    }
}

.channels{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width:330px;
    border-radius: 20px;
    background-color: var(--primary-color-color);
    border: 2px solid var(--border-color);
    padding: 20px;
    gap: 40px;
}
.channel img{
    width: 100px;
    border-radius: 50%;
}
.btn{
    width: 125px;
    border-radius: 10px;
    border: 0px;
    background-color: var(--bbtn-color);
    color: var(--btn-color);
    cursor: pointer;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}
.scioal_media {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%; 
    max-width: 800px;
    border-radius: 20px;
    background-color: var(--primary-color);
    gap: 20px;
    margin: 30px auto; 
    padding: 20px;
    margin: 30px;
    box-shadow: 0px 0px 15px 0px var(--border-color);
}

.media_content {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
    background-color: var(--primary-color);
    gap: 20px; 
}

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%; 
    max-width: 250px;
    border-radius: 20px;
    background-color: var(--primary-color);
    padding: 30px; 
    gap: 20px;
    margin-bottom: 20px; 
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid var(--border-color);
    

}


@media screen and (max-width: 600px) {
    .media_content {
        flex-direction: column; 
        gap: 15px;
    }

    .media {
        max-width: 100%; 
        padding: 20px;
    }
    .channel_content {
        flex-direction: column; 
        gap: 15px;
    }
    .elements{
        display: none;
    }
    .navbar{
        height: 50px;
    }
    .channels {
        max-width: 100%;
    }
}

.media img{
    width: 100px;
    border-radius: 50%;

}
.contact_with_me{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    background-color: var(--primary-color);
    gap:20px; 
    margin-top: 25px;
    margin: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px var(--border-color);
}
.content_contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary-color);
    overflow: hidden;
    padding: 20px;
}
.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--primary-color);
}
.phone{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--primary-color);
}
.email img, .phone img{
    width: 30px;
    gap: 0px;
}